.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}


/* Rock */
.rock {
  background-color: rgb(182, 158, 49);
}

/* Ghost */
.ghost {
  background-color: rgb(112, 85, 155);
}

/* Steel */
.steel {
  background-color: rgb(183, 185, 208);
}

/* Water */
.water {
  background-color: rgb(100, 147, 235);
}

/* Grass */
.grass {
  background-color: rgb(116, 203, 72);
}

/* Psychic */
.psychic {
  background-color: rgb(251, 85, 132);
}

/* Ice */
.ice {
  background-color: rgb(154, 214, 223);
}

/* Dark */
.dark {
  background-color: rgb(117, 87, 76);
}

/* Fairy */
.fairy {
  background-color: rgb(230, 158, 172);
}

/* Normal */
.normal {
  background-color: rgb(170, 166, 127);
}

/* Fighting */
.fighting {
  background-color: rgb(193, 34, 57);
}

/* Flying */
.flying {
  background-color: rgb(168, 145, 236);
}

/* Poison */
.poison {
  background-color: rgb(164, 62, 158);
}

/* Ground */
.ground {
  background-color: rgb(222, 193, 107);
}

/* Bug */
.bug {
  background-color: rgb(167, 183, 35);
}

/* Fire */
.fire {
  background-color: rgb(245, 125, 49);
}

/* Electric */
.electric {
  background-color: rgb(249, 207, 48);
}

/* Dragon */
.dragon {
  background-color: rgb(112, 55, 255);
}



.pokemon {
    display: flex;
    flex-direction: column;
    margin: .2rem;
    padding: .6rem;
    border-radius: 1rem;
}

.pokemon .name {
    color: #fff;
    text-transform: capitalize;
    margin-bottom: .27rem;
}

.pokemon .number {
    color: #000;
    text-align: right;
    opacity: .8;
    font-size: .625rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.1);
}

.pokemon .detail img{
    max-width: 100%;
    height: 65px;
}


.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: 0.25rem 0.5rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    font-size: .625rem;
}

@media screen and (min-width: 350px) {
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}